@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Makaan - Real Estate HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
                    <div class="icon p-2 me-2">
                        <img class="img-fluid" src="../img/iconos/logo de zurex.jpg" alt="Icon" style="width: 30px; height: 30px;">
                    </div>
                    <h1 class="m-0 text-primary">Zurex</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        <a asp-controller="Home" asp-action="About" class="nav-item nav-link">Nosotros</a>
                        <a asp-controller="Home" asp-action="Testimonial" class="nav-item nav-link">Testimonios</a>
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link active">Contacto</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Propiedades</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a asp-controller="Home" asp-action="PropertyAgent" class="dropdown-item">Agentes de propiedades</a>
                                    <a asp-controller="Home" asp-action="PropertyList" class="dropdown-item">Lista de propiedades</a>
                                    <a asp-controller="Home" asp-action="PropertyType" class="dropdown-item">Tipo de Propiedad</a>
                                </div>
                        </div>
                    </div>
                        <a href="" class="btn btn-primary px-3 d-none d-lg-flex">Agregar Propiedad</a>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->
        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">CONTACTO</h1>
                    <p>En <strong>Zurex</strong>, estamos aquí para ayudarte y resolver cualquier duda o necesidad que tengas. Ya sea para obtener más información o para comenzar a trabajar juntos, no dudes en ponerte en contacto con nosotros. Nuestro equipo está listo para atenderte y ofrecerte la mejor atención. ¡Esperamos tu mensaje!</p>
                    <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb text-uppercase"></ol>
                    </nav>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="../img/header.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Header End -->
        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control border-0 py-3" placeholder="Palabra Clave">
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0 py-3">
                                    <option selected>Tipo de Propiedad</option>
                                    <option value="1">Departamentos</option>
                                    <option value="2">Casas</option>
                                    <option value="3">Oficinas</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0 py-3">
                                    <option selected>Locación</option>
                                    <option value="1">Locación 1</option>
                                    <option value="2">Locación 2</option>
                                    <option value="3">Locación 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100 py-3">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End -->
        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="display-5 animated fadeIn mb-4">Contacta <span class="text-primary"> Con </span> Nosotros</h1>
                    <p>En <strong>Zurex</strong>, valoramos tu confianza y queremos ofrecerte un servicio personalizado y profesional. Llena el formulario de contacto con la tranquilidad de saber que tu información estará segura y que nuestro equipo se encargará de responderte lo antes posible. Déjanos ayudarte a resolver tus dudas y alcanzar tus objetivos. <strong>¡Contáctanos hoy mismo!</strong></p>
                </div>
                <!-- SPAN DIRECTION -->
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-map-marker-alt text-primary"></i>
                                        </div>
                                        <span>Av. Magdalena 434 int 202, Colonia Del Valle, Benito Juárez, 03100 Ciudad de México</span>
                                    </div>
                                </div>
                            </div>
                           <!-- SPAN CORREO -->
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-envelope-open text-primary"></i>
                                        </div>
                                        <span>alexfigueroahernandez@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                            <!-- SPAN NUMBER -->
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-phone-alt text-primary"></i>
                                        </div>
                                        <span>+525571499375</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MAP SECTION -->
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <iframe class="position-relative rounded w-100 h-100"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.3449414288455!2d-99.1658454846834!3d19.388681586911526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff4306e42a93%3A0x61b1d189ba92511e!2sAv.%20Magdalena%20434%2C%20Colonia%20Del%20Valle%2C%20Benito%20Ju%C3%A1rez%2C%2003100%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1701598276937!5m2!1ses!2smx"
                                frameborder="0" style="min-height: 400px; border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>
                    <!-- FORMULARY -->
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p class="mb-4">
                                No dudes en llenar el formulario de contacto; estamos comprometidos a responderte lo antes posible.
                                Tu confianza es nuestra prioridad, y queremos asegurarte que tu información estará segura con nosotros.
                                ¡Contáctanos hoy mismo y déjanos ayudarte a hacer realidad tus objetivos!
                            </p>
                            <form method="post" action="/Email/SendEmail">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Tu Nombre" required>
                                            <label for="name">Tu Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Tu E-mail" required>
                                            <label for="email">Tu E-mail</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto" required>
                                            <label for="subject">Asunto</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message" placeholder="Mensaje" style="height: 150px" required></textarea>
                                            <label for="message">Mensaje</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Enviar Mensaje</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Contact End -->
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <!-- CONTACT SECTION-->
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Contáctanos</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Av. Magdalena 434 int 202, Colonia Del Valle, Benito Juárez, 03100 Ciudad de México</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+525571499375</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>alexfigueroahernandez@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <!-- LINK SECTION-->
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Links</h5>
                        <a class="btn btn-link text-white-50" href="">Nosotros</a>
                        <a class="btn btn-link text-white-50" href="">Contáctanos</a>
                        <a class="btn btn-link text-white-50" href="">Propiedades</a>
                        <a class="btn btn-link text-white-50" href="">Privacidad y Políticas</a>
                        <a class="btn btn-link text-white-50" href="">Términos y Condiciones</a>
                    </div>
                    <!-- GALLERY SECTION-->
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Galería</h5>
                        <div class="row g-2 pt-2">
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="../img/casas/casa-12.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="../img/casas/casa-8.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="../img/casas/casa-9.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="../img/casas/casa-2.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="../img/casas/casa-10.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="../img/casas/casa-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- E-MAIL SECTION-->
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Contáctanos</h5>
                        <p>contáctanos por este medio.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="e-mail">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Ingresa Aqui</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">zurexinmobi.com.mx</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Inicio</a>
                                <a href="">Cookies</a>
                                <a href="">Ayuda</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>
</body>

</html>
