@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<p>Lo sentimos, ocurrió un error al enviar el mensaje.</p>

<p><strong>Detalles del error:</strong></p>
<p>@ViewBag.ErrorMessage</p> <!-- Mostramos el mensaje de error que pasamos desde el controlador -->
